<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.replatecamera">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />
    <application>
    </application>
</manifest>
